<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>criptica &#8211; Criptica</title>
	<atom:link href="/author/criptica/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.criptica.org</link>
	<description></description>
	<lastBuildDate>Thu, 17 May 2018 02:37:01 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>(In)seguretat mòbil a Ca La Trava</title>
		<link>/2017/05/16/inseguretat-mobil-a-ca-la-trava/</link>
		<pubDate>Tue, 16 May 2017 15:42:28 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=469</guid>
		<description><![CDATA[EDIT: ATENCIÓN. Esta publicación es de 2017 Este viernes 19 de Mayo realizaremos una charla sobre los riesgos y vulnerabilidades de tu smartphone, en el espacio Ca La Trava (c/travessera de Gràcia, 154) a las 19.00h. Durante el evento, se hablará sobre los riesgos intrínsecos de la tecnología móvil, tanto a nivel técnico como social; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><strong>EDIT: ATENCIÓN. Esta publicación es de 2017</strong></p>
<p>Este viernes<strong> 19 de Mayo</strong> realizaremos una charla sobre los riesgos y vulnerabilidades de tu smartphone, en el espacio <a href="https://twitter.com/Ca_LaTrava">Ca La Trava</a> (<strong>c/travessera de Gràcia, 154</strong>) a las <strong>19.00h</strong>.</p>
<p><img class=" wp-image-466 aligncenter" src="/wp-content/uploads/2017/02/cartel-1-724x1024.jpg" alt="cartel 1" width="352" height="497" /></p>
<p>Durante el evento, se hablará sobre los riesgos intrínsecos de la tecnología móvil, tanto a nivel técnico como social; y se recomendarán unas pautas alternativas de comportamiento seguro.</p>
<p>Al finalizar la charla se aplicará una <strong>taquilla inversa</strong>, en la que se pedirá a los asistentes que realicen una aportación voluntaria al proyecto de Críptica.</p>
<p>&nbsp;</p>
]]></content:encoded>
			</item>
		<item>
		<title>7 de Mayo. Taller de comunicaciones anónimas con Tor.</title>
		<link>/2017/05/02/7-de-mayo-taller-de-comunicaciones-anonimas-con-tor/</link>
		<pubDate>Tue, 02 May 2017 12:56:51 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=454</guid>
		<description><![CDATA[Continuando con el ciclo de talleres en el *[Hub]  de la Fundación Inceptum, el próximo domingo día 7 de Mayo se realizará el taller de comunicaciones anónimas con Tor.  Os esperamos a las 11.30 h. en c/Rector Triadó 31, Bajos. Este será el tercero de un ciclo de 4 talleres realizados el primer domingo de cada [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Continuando con el ciclo de talleres en el <a href="http://hub.inceptum.cc/">*[Hub]</a>  de la <a href="http://inceptum.cc">Fundación Inceptum</a>, el próximo<strong> domingo día 7 de Mayo</strong> se realizará el taller de comunicaciones anónimas con Tor.  Os esperamos a las <strong>11.30 h. </strong>en <strong>c/Rector Triadó 31, Bajos</strong>.</p>
<p><img class=" wp-image-414 aligncenter" src="/wp-content/uploads/2017/02/Taller3-730x1024.jpg" alt="Taller3" width="351" height="492" /></p>
<p>Este será el tercero de un ciclo de 4 talleres realizados el primer domingo de cada mes.  En esta sesión se hablará sobre <strong>Tor Browser</strong>, <strong>Ricochet</strong> y <strong>Onion Share</strong>. Aprenderéis a utilizar estos programas para proteger vuestras comunicaciones y podréis resolver todas las dudas que os vayan surgiendo. El material del taller estará subido en este blog (<a href="/index.html@p=446.html">Recursos</a>) para que podáis acceder a él durante y después del evento.</p>
<p>No olvidéis que el formato de estos talleres es teórico-práctico con lo que es muy importante <strong>traer el ordenador portátil </strong> para poner en práctica lo explicado, y entender mucho mejor los conceptos tratados.</p>
<p>Os recordamos que al final del taller se aplicará una <strong>taquilla inversa</strong>, es decir, se pedirá que cada asistente haga una pequeña aportación voluntaria al proyecto de Críptica.</p>
<p>¡Nos vemos este Domingo!</p>
]]></content:encoded>
			</item>
		<item>
		<title>Ciclo de talleres en el *[Hub]</title>
		<link>/2017/03/28/ciclo-de-talleres-en-el-hub/</link>
		<pubDate>Tue, 28 Mar 2017 07:05:10 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=409</guid>
		<description><![CDATA[El próximo domingo día 2 de Abril, realizaremos un taller de seguridad para dispositivos móviles en el *[Hub]  de la Fundación Inceptum. En este taller se desglosarán los diferentes riesgos de los smartphones y se dará algunos consejos para paliarlos. El taller se realizará a las 11:30 en Rector Triadó 31, Bajos. Este será el [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>El próximo<strong> domingo día 2 de Abril</strong>, realizaremos un taller de seguridad para dispositivos móviles en el <a href="http://hub.inceptum.cc/">*[Hub]</a>  de la <a href="http://inceptum.cc">Fundación Inceptum</a>. En este taller se desglosarán los diferentes riesgos de los smartphones y se dará algunos consejos para paliarlos. El taller se realizará <strong>a las 11:30 </strong>en <strong>Rector Triadó 31, Bajos</strong>.</p>
<p><img class="wp-image-413 aligncenter" src="/wp-content/uploads/2017/02/Taller2-730x1024.jpg" alt="Taller2" width="351" height="492" /></p>
<p>Este será el segundo de un ciclo de 4 talleres, que se realizarán el primer domingo de cada mes. A lo largo del ciclo tratamos temas como <strong>medidas de seguridad básicas</strong>, el <strong>anonimato en internet</strong> y el <strong>análisis de interacciones públicas en redes sociales (OSINT)</strong>.</p>
<p>El formato de los talleres será teórico-práctico con lo que es muy importante <strong>traer el ordenador portátil y el smartphone</strong> para poner en práctica lo explicado.</p>
<p>Al final de los talleres se aplicará una <strong>taquilla inversa</strong>, es decir, se pedirá que cada asistente haga una pequeña aportación voluntaria al proyecto de Críptica.</p>
<p>Recordamos que ofrecemos talleres de <a href="/index.html@p=182.html">seguridad y privacidad para colectivos</a></p>
]]></content:encoded>
			</item>
		<item>
		<title>Las respuestas del Ministerio de Asuntos Exteriores al cuestionario de Access Now</title>
		<link>/2017/03/22/las-respuestas-del-ministerio-de-asuntos-exteriores-al-cuestionario-de-access-now/</link>
		<pubDate>Wed, 22 Mar 2017 21:19:55 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=418</guid>
		<description><![CDATA[A nuestras manos ha llegado un cuestionario que fue enviado el año pasado por Access Now a varios gobiernos de la Unión Europea, incluído el Gobierno de España. Las respuestas fueron redactadas en octubre de 2016 y son las que siguen.  Cuan a menudo encuentran cifrado en sus actividades operacionales y durante la recolección de [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>A nuestras manos ha llegado un cuestionario que fue enviado el año pasado por<a href="https://www.accessnow.org/"> Access Now</a> a varios gobiernos de la Unión Europea, incluído el Gobierno de España. Las respuestas fueron redactadas en octubre de 2016 y son las que siguen.</p>
<ol>
<li><strong> Cuan a menudo encuentran cifrado en sus actividades operacionales y durante la recolección de evidencia electrónica/evidencia en el ciberespacio, en el curso de procedimientos criminales?</strong><br />
A menudo (en muchos casos)</li>
<li><strong>Qué tipos de cifrado son los más encontrados durante las investigaciones criminales en el ciberspacio?</strong>
<ul>
<li>Cifrado online:
<ul>
<li>e-mail (PGP/GPG)</li>
<li>HTTPS</li>
<li>SSH Tunnelling</li>
<li>TOR</li>
<li>datos electrónicos almacenados en la nube</li>
<li>Comunicaciones electrónicas (a través de aplicaciones como Sype, WhatsApp, Facebook, etc.)</li>
</ul>
</li>
<li>Cifrado offline:
<ul>
<li>Dispositivos digitales cifrados (móviles / Tablets / Ordenadores)</li>
<li>Aplicaciones de cifrado (TrueCrypt, VeraCrypt, DiskCryptor, etc.)</li>
</ul>
</li>
</ul>
</li>
<li><strong>Bajo su legislación nacional, existe alguna obligación por parte de los sospechosos o acusados, o personas que están en posesión de un dispositivo o dato electrónico relevante para un procedimiento criminal, o cualquier otra persona, de proporcionar a las autoridades las contraseñas o claves de cifrado? En ese caso, se requiere una orden judicial (por parte de un fiscal o juez)? Por favor, proporcione los artículos relevantes  de su legislación nacional</strong><br />
Sí.<br />
Esta obligación tiene diferentes grados dependiendo de quién es el implicado. Los sospechosos o acusados tienen derecho a no declarar contra ellos mismos (Artículo 24.2 de la Constitución Española). Los siguientes artículos de la Ley de Enjuiciamiento Criminal son aplicables<br />
<span style="text-decoration: underline;">Artículo 118</span><br />
Toda persona a quien se atribuya un hecho punible podrá ejercitar el derecho de defensa, interviniendo en las actuaciones, desde que se le comunique su existencia, haya sido objeto de detención o de cualquier otra medida cautelar o se haya acordado su procesamiento, a cuyo efecto se le instruirá, sin demora injustificada, de los siguientes derechos:<br />
g) Derecho a guardar silencio y a no prestar declaración si no desea hacerlo, y a no contestar a alguna o algunas de las preguntas que se le formulen.h) Derecho a no declarar contra sí mismo y a no confesarse culpable.<span style="text-decoration: underline;">Artículo 588 sexies c Autorización Judicial<br />
</span>5.(&#8230;)<span style="text-decoration: underline;"><br />
</span><span style="color: #000000;">Esta disposición no será aplicable al investigado o encausado, a las personas que están dispensadas de la obligación de declarar por razón de parentesco y a aquellas que, de conformidad con el artículo 416.2, no pueden declarar en virtud del secreto profesional.<br />
</span><span style="text-decoration: underline;">Artículo 588 septies b Deber de colaboración<br />
</span>2.<br />
(&#8230;)<br />
Esta disposición no será aplicable al investigado o encausado, a las personas que están dispensadas de la obligación de declarar por razón de parentesco, y a aquellas que, de conformidad con el artículo 416.2, no pueden declarar en virtud del secreto profesional.<br />
3. Los sujetos requeridos para prestar colaboración tendrán la obligación de guardar secreto acerca de las actividades requeridas por las autoridades.<br />
4. Los sujetos mencionados en los apartados 1 y 2 de este artículo quedarán sujetos a la responsabilidad regulada en el apartado 3 del artículo 588 ter e.<br />
<span style="text-decoration: underline;">Artículo 588 ter e Deber de colaboración</span><br />
1. Todos los prestadores de servicios de telecomunicaciones, de acceso a una red de telecomunicaciones o de servicios de la sociedad de la información, así como toda persona que de cualquier modo contribuya a facilitar las comunicaciones a través del teléfono o de cualquier otro medio o sistema de comunicación telemática, lógica o virtual, están obligados a prestar al juez, al Ministerio Fiscal y a los agentes de la Policía Judicial designados para la práctica de la medida la asistencia y colaboración precisas para facilitar el cumplimiento de los autos de intervención de las telecomunicaciones.<br />
2. Los sujetos requeridos para prestar colaboración tendrán la obligación de guardar secreto acerca de las actividades requeridas por las autoridades.<br />
3. Los sujetos obligados que incumplieren los anteriores deberes podrán incurrir en delito de desobediencia.En cuanto a las posiblidades de pedir ayuda para averiguar como funciona un dispositivo, sistema, etc. se aplica el siguiente artículo (también previsto en el art. 19.4 de la Convención de Budapest):<span style="text-decoration: underline;">Artículo 588 sexies c Autorización judicial</span><br />
5. Las autoridades y agentes encargados de la investigación podrán ordenar a cualquier persona que conozca el funcionamiento del sistema informático o las medidas aplicadas para proteger los datos informáticos contenidos en el mismo que facilite la información que resulte necesaria, siempre que de ello no derive una carga desproporcionada para el afectado, bajo apercibimiento de incurrir en delito de desobediencia.<br />
Esta disposición no será aplicable al investigado o encausado, a las personas que están dispensadas de la obligación de declarar por razón de parentesco y a aquellas que, de conformidad con el artículo 416.2, no pueden declarar en virtud del secreto profesional.</p>
<p>En cuanto a la búsqueda de dispositivos en remoto, se aplica el siguiente artículo:</p>
<p><span style="text-decoration: underline;">Artículo 588 septies b Deber de colaboración</span></p>
<p>1. Los prestadores de servicios y personas señaladas en el artículo 588 ter e y los titulares o responsables del sistema informático o base de datos objeto del registro están obligados a facilitar a los agentes investigadores la colaboración precisa para la práctica de la medida y el acceso al sistema. Asimismo, están obligados a facilitar la asistencia necesaria para que los datos e información recogidos puedan ser objeto de examen y visualización.</p>
<p>2. Las autoridades y los agentes encargados de la investigación podrán ordenar a cualquier persona que conozca el funcionamiento del sistema informático o las medidas aplicadas para proteger los datos informáticos contenidos en el mismo que facilite la información que resulte necesaria para el buen fin de la diligencia.</p>
<p>Esta disposición no será aplicable al investigado o encausado, a las personas que están dispensadas de la obligación de declarar por razón de parentesco, y a aquellas que, de conformidad con el artículo 416.2, no pueden declarar en virtud del secreto profesional.</p>
<p>3. Los sujetos requeridos para prestar colaboración tendrán la obligación de guardar secreto acerca de las actividades requeridas por las autoridades.</p>
<p>4. Los sujetos mencionados en los apartados 1 y 2 de este artículo quedarán sujetos a la responsabilidad regulada en el apartado 3 del artículo 588 ter e.</p>
<p>&nbsp;</p>
<p>En cuanto a la orden de conservación de datos, lo siguiente debe ser tenido en cuenta:</p>
<p>El Ministerio Fiscal o la Policía Judicial podrán requerir a cualquier persona física o jurídica la conservación y protección de datos o informaciones concretas incluidas en un sistema informático de almacenamiento que se encuentren a su disposición hasta que se obtenga la autorización judicial correspondiente para su cesión con arreglo a lo dispuesto en los artículos precedentes.</p>
<p>Los datos se conservarán durante un periodo máximo de noventa días, prorrogable una sola vez hasta que se autorice la cesión o se cumplan ciento ochenta días.</p>
<p>El requerido vendrá obligado a prestar su colaboración y a guardar secreto del desarrollo de esta diligencia, quedando sujeto a la responsabilidad descrita en el apartado·3 del artículo 588 ter e.</li>
<li><strong>Bajo su legislación nacional, están obligados los proveedores de servicios a proporcionar contraseñas/claves de cifrado a las autoridades? Si es así, se requiere de una orden judicial (por parte de fiscal o juez)? Por favor, proporcione el texto de la legislación relevante.</strong><br />
BORRADO</li>
<li><strong>Bajo su legislación nacional, es posible interceptar/monitorizar flujos de datos cifrados para obtener datos descifrados para los propósitos de un procedimiento judicial criminal? Si es así, se requiere de una orden judicial (por parte de fiscal o juez)?<br />
</strong>BORRADO</li>
<li><strong>Cuales son los problemas principales encontrados durante la intercepción/monitorización de flujos de datos cifrados con el objetivo de obtener datos descifrados?</strong><br />
BORRADO</li>
<li><strong>Qué otras técnicas o enfoques utilizan para descifrar evidencia electrónica cifrada y protegerla para que sea admisible como prueba en procedimientos judiciales criminales? Sus autoridades utilizan, por ejemplo, servicios de compañías extranjeras o la asistencia de la Europol con el objetivo de descifrar datos? Si es así, por favor, proporcione ejemplos de asistencias.</strong><br />
La legislación española permite cualquier técnica para descrifrar que pueda ser auditada. Normalmente las autoridades utilizan los servicios de empresas o universidades. Se emplean técnicas o software que proporciona una certificación legal que garantiza la cadena de custodia.</li>
<li><strong>Consideran que su legislación nacional actual permite una protección lo suficientemente efectiva de la evidencia digital? Si no, por qué no?<br />
</strong>BORRADO</li>
<li><strong>Cuales son los problemas principales que se encuentran cuando se requisa evidencia digital cifrada y se descifra?</strong><br />
&#8211; financieros<br />
&#8211; personales<br />
&#8211; técnicos<br />
&#8211; legales/legislativos<br />
Los principales problemas son comprar y actualizar el software y hardware necesario para descifrar, así como la necesidad de personal técnico altamente cualificado. Los problemas técnicos y financieros surgen de que los costes de comprar y actualizar dicho hardware y software son altos, y también el entrenamiento.</li>
<li><strong>Desde su punto de vista, que medidas deberían tomarse en el futuro a nivel de la Unión Europea en este aspecto?<br />
</strong>BORRADO</li>
<li><strong>Hay algunos otros problemas que les gustaría mencionar en relación al cifrado y el posible enfoque a dichos problemas? Por favor, compartan cualquier experiencia nacional relevante o cualquier consideración que provenga de su práctica que deba ser tenida en cuenta.</strong><br />
BORRADO</li>
</ol>
<p>&nbsp;</p>
]]></content:encoded>
			</item>
		<item>
		<title>Taller de seguretat informàtica a l&#8217;Ateneu Les Corts</title>
		<link>/2017/02/08/taller-de-seguretat-informatica-a-lateneu-les-corts/</link>
		<pubDate>Wed, 08 Feb 2017 13:50:45 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=380</guid>
		<description><![CDATA[Aquest diumenge dia 12 de Febrer, estem convidats a L&#8217;Ateneu Les Corts (c/Galileu, 252) on impartirem un Taller de seguretat informàtica. El programa per aquest taller serà el següent: OSINT aplicada a Twitter Converses xifrades Navegació anònima i segura Gestió segura de contrasenyes Durant aquesta xerrada parlarem de la importancia de protegir les nostres dades [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Aquest diumenge dia 12 de Febrer, estem convidats a L&#8217;Ateneu Les Corts (c/Galileu, 252) on impartirem un <b>Taller de seguretat informàtica</b>.</p>
<p>El programa per aquest taller serà el següent:</p>
<ul>
<li>OSINT aplicada a Twitter</li>
<li>Converses xifrades</li>
<li>Navegació anònima i segura</li>
<li>Gestió segura de contrasenyes</li>
</ul>
<p><img class=" wp-image-382 aligncenter" src="/wp-content/uploads/2017/02/C30dGYvXUAAqxxR-212x300.jpg" alt="C30dGYvXUAAqxxR" width="239" height="338" /></p>
<p>Durant aquesta xerrada parlarem de la importancia de protegir les nostres dades i metadades. A més, ensenyarem eines i bones pràctiques per protegir la nostra privacitat.</p>
<p>És important portar el teu propi ordinador per tal de seguir bé el taller i poder aprofitar-lo al màxim. Us deixem també les diapositives del taller en aquest <a href="https://gitpitch.com/cripticaorg/presentacio-eines-2017/master?grs=gitlab">enllaç</a> per tal que les pogueu consultar.</p>
<p>Volem aprofitar la ocasió per presentar-vos la nova secció de la web: <a href="/calendari/">Calendario</a>, on penjarem les próximes dates dels esdeveniments de Críptica.</p>
<p>Com sempre, recordar-vos que <a href="/index.html@p=182.html">oferim tallers i xerrades gratuites per a col·lectius</a>.</p>
<p>Us esperem el proper diumenge!</p>
]]></content:encoded>
			</item>
		<item>
		<title>Entrevista amb Autodefensa Informática, de Radio Almaina</title>
		<link>/2016/12/09/entrevista-amb-autodefensa-informatica-de-radio-almaina/</link>
		<pubDate>Thu, 08 Dec 2016 23:00:38 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=376</guid>
		<description><![CDATA[Aquest dimecres hem tingut l&#8217;honor d&#8217;explicar el projecte de Críptica al programa &#8220;Autodefensa Informática&#8221;, un programa de ràdio dedicat a la privacitat i seguretat a la xarxa, que emet a través de la FM a Granada i a tot el món a través d&#8217;internet. El seu eslògan &#8220;Sin privacidad no hay libertad&#8221; ho diu tot, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Aquest dimecres hem tingut l&#8217;honor d&#8217;explicar el projecte de Críptica al programa &#8220;Autodefensa Informática&#8221;, un programa de ràdio dedicat a la privacitat i seguretat a la xarxa, que emet a través de la FM a Granada i a tot el món a través d&#8217;internet.</p>
<p>El seu eslògan &#8220;Sin privacidad no hay libertad&#8221; ho diu tot, i li fan justícia. Van camí de dos anys de programa i durant aquest temps, entre d&#8217;altres, han parlat de la nova moda de l&#8217;<a href="https://radioalmaina.org/2016/10/autodefensa-informatica-17-el-internet-de-las-cosas-bizarras/">Internet de les Coses (IoT)</a>, repetidament de les <a href="https://radioalmaina.org/2016/07/autodefensa-informatica-14-ni-pipas-pal-pajaro-de-twitter/">xarxes socials privatives</a>, han desmitificat el <a href="https://radioalmaina.org/2016/06/autodefensa-informatica-13-los-psico-dioses-de-la-nube/">concepte de núvol</a> i han abordat l&#8217;<a href="https://radioalmaina.org/2016/11/autodefensa-informatica-18-trabajando-para-la-mafia-tecnologica/">explotació laboral a les empreses tecnològiques</a>. Fins i tot han dedicat un programa al <a href="https://radioalmaina.org/2016/08/autodefensa-informatica-15-la-invasion-de-los-palitos-asesinos/">fenomen de les selfies</a>, sempre tot amb molt d&#8217;humor!</p>
<p>El programa on apareixem tracta el tema de l&#8217;espionatge a través del correu electrònic de corporacions tecnològiques, partint de la revelació que Yahoo facilita i molt a la NSA un monitoratge constant fins i tot dels adjunts dels correus. Ens podeu escoltar entre els minuts 17 i 36 del programa, tot i que us recomanem que l&#8217;escolteu sencer:</p>
<!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
<audio class="wp-audio-shortcode" id="audio-376-1" preload="none" style="width: 100%; visibility: hidden;" controls="controls"><source type="audio/ogg" src="https://media.blubrry.com/almaina/p/archive.org/download/AutodefensaInformatica19TuCorreoSiempreLoLeenDosVeces/Autodefensa_Informatica_19_Tu_correo_siempre_lo_leen_dos_veces.ogg?_=1" /><a href="https://media.blubrry.com/almaina/p/archive.org/download/AutodefensaInformatica19TuCorreoSiempreLoLeenDosVeces/Autodefensa_Informatica_19_Tu_correo_siempre_lo_leen_dos_veces.ogg">https://media.blubrry.com/almaina/p/archive.org/download/AutodefensaInformatica19TuCorreoSiempreLoLeenDosVeces/Autodefensa_Informatica_19_Tu_correo_siempre_lo_leen_dos_veces.ogg</a></audio>
<p>&nbsp;</p>
<p>Podeu seguir la seva activitat a través <a href="https://autodefensainformatica.radioalmaina.org">del seu blog</a> i interactuar-hi a <a href="https://quitter.no/ai">GNUSocial</a>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Xerrada de Críptica al Campus Nord de la UPC</title>
		<link>/2016/10/12/xerrada-de-criptica-al-campus-nord-de-la-upc/</link>
		<pubDate>Wed, 12 Oct 2016 14:24:05 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=373</guid>
		<description><![CDATA[Com cada any des de la seva fundació, Críptica presenta el seu projecte a la comunitat de la UPC, per tal d&#8217;explicar en que consisteix la seva activitat i per qué la fa. El pròxim dimecres 19 d’octubre a les 12:00 del matí realitzarem aquesta xerrada a l’aula A3103 del Campus Nord. Críptica és una [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Com cada any des de la seva fundació, Críptica presenta el seu projecte<br />
a la comunitat de la UPC, per tal d&#8217;explicar en que consisteix la seva<br />
activitat i per qué la fa.</p>
<p>El pròxim dimecres 19 d’octubre a les 12:00 del matí realitzarem aquesta<br />
xerrada a l’aula A3103 del Campus Nord.</p>
<p>Críptica és una associació creada amb l&#8217;objectiu de recomanar bones<br />
pràctiques així com difondre l’ús d’eines per tal de protegir millor la<br />
nostra privacitat a internet. Durant la presentació parlarem de quines<br />
son aquestes eines i práctiques i per qué es important protegir les<br />
nostres dades i metadades.</p>
<p>Ens veiem el proper dimecres!</p>
]]></content:encoded>
			</item>
		<item>
		<title>De la vigilància massiva al hacktivisme: Creuament de mirades</title>
		<link>/2016/07/04/de-la-vigilancia-massiva-al-hacktivisme-creuament-de-mirades/</link>
		<pubDate>Mon, 04 Jul 2016 19:00:46 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=369</guid>
		<description><![CDATA[Aquest dissabte ens han convidat a les jornades que es duran a terme a l&#8217;Ateneu La Pua de l&#8217;Hospitalet, situat al barri de Santa Eulàlia (des d&#8217;aquest enllaç podeu accedir a l&#8217;esdeveniment). Promet ser una jornada intensa i estimulant, on es parlarà de gran part dels temes que tractem com a associació, ens servirà per [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Aquest dissabte ens han convidat a les jornades que es duran a terme a l&#8217;<strong>Ateneu La Pua de l&#8217;Hospitalet</strong>, situat al barri de Santa Eulàlia (<a href="https://www.teixidora.net/wiki/De_la_vigil%C3%A0ncia_massiva_al_hacktivisme,_creuament_de_mirades_2016/07/09">des d&#8217;aquest enllaç podeu accedir a l&#8217;esdeveniment</a>). Promet ser una jornada intensa i estimulant, on es parlarà de gran part dels temes que tractem com a associació, ens servirà per teixir xarxes entre entitats que treballen temes relacionats&#8230; i <strong>aprofitarem per presentar el nostre projecte</strong>! A banda d&#8217;això, un membre de Críptica explicarà les singularitats de l&#8217;anomenat &#8220;govern cibernètic&#8221; i com s&#8217;utilitza avui per portar a terme els atacs selectius amb drons.</p>
<p><img class="aligncenter wp-image-370 size-medium" src="/wp-content/uploads/2016/07/asdCmSwuUbWIAAVx_D.jpglarge-212x300.jpeg" width="212" height="300" /></p>
<p><strong>&#8220;De la vigilància massiva al hacktivisme: Creuament de mirades&#8221;</strong>. Una jornada repleta de temes interessants que normalment queden a banda (inclòs el de &#8220;gènere i tecnologia&#8221;), però que determinaran gran part del nostre futur com a societat. Tan si us interessen les xerrades, com si voleu participar en algun dels nostres projectes o voleu contactar-nos cara a la preparació de futurs tallers de seguretat (recordeu que <a href="/index.html@p=182.html">oferim tallers de seguretat per a col·lectius</a>), no dubteu en assistir-hi!</p>
]]></content:encoded>
			</item>
		<item>
		<title>Comunidad 2.0 (Sobre las acusaciones a Jacob Appelbaum)</title>
		<link>/2016/06/08/comunidad-2-0-sobre-las-acusaciones-a-jacob-appelbaum/</link>
		<pubDate>Wed, 08 Jun 2016 19:45:11 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=361</guid>
		<description><![CDATA[Jacob Appelbaum (@ioerror), una de las principales referencias a nivel mundial en lo que se refiere al anonimato en la red y la defensa de la privacidad (no en vano, era hasta hace unos pocos días la cara visible de The Tor Project), ha sido recientemente acusado de haber cometido abusos sexuales contra diversos miembros [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><em><strong>Jacob Appelbaum</strong> (@ioerror), una de las principales referencias a nivel mundial en lo que se refiere al anonimato en la red y la defensa de la privacidad (no en vano, era <a href="https://blog.torproject.org/blog/statement">hasta hace unos pocos días</a> la cara visible de The Tor Project),<strong> ha sido recientemente acusado de haber cometido abusos sexuales contra diversos miembros de la comunidad hacker</strong>. Estas acusaciones han sido mayoritariamente anónimas, aunque en las últimas horas unos pocos artículos <a href="https://www.dailydot.com/politics/jacob-appelbaum-tor-project-suspension-sexual-misconduct-victims/">han recogido las opiniones de algunas de las compañeras de Appelbaum en The Tor Project</a> (Andrea Shepard y Alison Macrina), las cuales han confirmado gran parte de las acusaciones.</em></p>
<p><em>Desde Críptica queremos contribuir al debate que se está generando no solamente <strong>condenando firmemente actitudes de este tipo en nuestros espacios, vengan de quien vengan</strong> (tal como venimos haciendo en nuestra cuenta de <a href="https://twitter.com/CripticaOrg">Twitter</a>), sino también aprovechar el caso para revisar las formas de socialización en los espacios pertenecientes a la (así llamada) &#8220;comunidad hacker&#8221;, de modo que <strong>estos comportamientos puedan ser detectados lo antes posible</strong>, imposibilitando el sentimiento de <strong>impunidad generalizada</strong> en el que se suelen mover los responsables de los abusos. Es por eso que hemos decidido <strong>traducir <a href="http://blog.brokep.com/2016/06/08/community-2-0/">un artículo publicado por Peter Sunde</a> (uno de los creadores de The Pirate Bay) <a href="http://blog.brokep.com/2016/06/08/community-2-0/">hoy mismo en su blog</a></strong>. Aunque no estemos de acuerdo con todas sus afirmaciones (¡ni mucho menos!), nos parece un texto especialmente necesario para entender tanto la <strong>singular evolución de la comunidad hacker, de &#8220;grupo marginal&#8221; a &#8220;actor político particularmente poderoso&#8221;</strong> en la sociedad actual, como su <strong>total incapacidad para gestionar esta particular situación</strong> (de modo que sigue arrastrando dinámicas patriarcales basadas en el &#8220;culto heroico&#8221;). Con esto esperamos animar al debate interno para <strong>dificultar que los autores de abusos se muevan como pez en el agua en este tipo de entornos</strong>.</em></p>
<p><img class="aligncenter wp-image-365 " src="/wp-content/uploads/2016/06/11405454833_29ffbd16e1_z-300x200.jpg" width="329" height="219" /></p>
<p>Esta pasada semana ha sido especialmente turbulenta en el ámbito de la seguridad informática, donde una persona muy destacada ha sido acusada de abusos sexuales. El acusado, Jacob Appelbaum, es amigo mío, y yo me quedé bastante sorprendido después de enterarme de la noticia.</p>
<p>Lo primero que quiero decir es que no tengo constancia de que ninguno de los eventos comentados sucediera. Y también quiero decir que el hecho de no saberlo no es realmente importante en este caso. Quiero escribir sobre algo que no es sobre el caso como tal, sino que <strong>se refiere a un plano general de la comunidad hacker, concretamente a que arrastramos un problema en lo que se refiere a los abusos</strong>.</p>
<p>La comunidad hacker estuvo largo tiempo habitada por un grupo bastante homogéneo de hombres jóvenes, que pasaron de estar haciendo cosas &#8220;frikis&#8221; en la oscuridad a <strong>convertirse en uno de los grupos más poderosos de la sociedad actual</strong>. <strong>Conforme la sociedad fue trasladando sus comunicaciones y negocios al mundo digital, más dependiente se hizo de la comunidad tecnológica</strong>. Este cambio ha sido profundo y especialmente rápido. <strong>Muchas cosas no han ido en consonancia ni han sido capaces de actualizarse en la misma medida, especialmente en lo que se refiere a la cultura interna</strong>.</p>
<p>Yo crecí en la escena hacker. De niño ya trasteaba con la tecnología, llamando ilegalmente a todo el mundo para pasar luego el rato en los foros, donde conocí a mucha gente que compartía mis intereses. Ningún adulto entendía demasiado, y la mayoría de personas con las que entablaba amistad eran jóvenes que estaban, de algún modo, alejados de la sociedad normal. No me refiero a que fueran anormales &#8211; simplemente era gente que, por alguna razón, estaba muy metida en temas tecnológicos o que tenía pocos amigos (o probablemente ambas). He conocido también otras subculturas, y la mayoría de ellas tienen unas características similares. La gente joven siempre intentará sentirse integrada en algún lado. <strong>La diferencia con la comunidad hacker ha sido que la mayoría de cosas en las que se trabajaba, se hacían en la oscuridad</strong>. Nunca fue demasiado fácil verlas desde fuera, <strong>lo que significaba que la comunidad nunca tuvo la necesidad real de solventar sus propios fallos</strong>. <strong>Si hay errores pero nadie los reconoce como tales, la mayoría de gente los dejará de ver como problemas</strong>. Es algo muy humano. Si intentas reparar algo en tu casa y no sale bien, te enfadarás mucho. <strong>Pero si no lo solucionas en algunas semanas, tu mente se olvida de ello</strong>. Hay toneladas de estudios sobre esto y pienso que es aplicable a todos los aspectos de tu vida. Mendigos en la calle, fallos de tu propia comunidad. La ignorancia es a veces una manera de soportar determinadas cosas, <strong>pero en otras ocasiones es simplemente ser ignorante</strong>.</p>
<p><strong>La comunidad hacker siempre ha sido percibida como particularmente inclusiva</strong>. Las premisas para ser incluido se basan en tus habilidades, <strong>eso es todo</strong>. Pero siempre se ha tratado de <strong>gente muy similar entre si, de modo que nunca hubo realmente una diferencia cultural con otras personas</strong>. Aún recuerdo ir a una &#8220;LAN party&#8221; en Dinamarca en el año 1994: había unas 4 mujeres allí.<strong> Y 4000 hombres</strong>. La mayoría de hombres pensaban que era guay que al fin hubiera mujeres. Estoy bastante seguro de que la mayoría de ellos eran buena gente, y que era algo ilusionante tener algo de atención por parte del otro sexo &#8211; pero es también bastante fácil de calcular que, con 1000 tíos por mujer&#8230; <strong>significa que serás objeto de mucha atención</strong>. <strong>Más de la que seguramente querrías tener</strong>. El sentimiento inclusivo por supuesto sigue allí, pero <strong>sin entender que puedes seguir incomodando a la gente con tu amabilidad</strong>. En 2006 fui a un barco con 44 frikis. 40 eran hombres, 4 mujeres. Aunque la proporción había mejorado en números absolutos, <strong>seguía siendo 10 a 1</strong>. Y también había una gran atención para las mujeres.</p>
<p>Muchos de los que crecimos en la escena hacker <strong>hemos pasado de ser frikis a ser gente bastante importante</strong>. Tiempo atrás, cuando alguien en los medios escribía sobre nosotros, era siempre porque alguien había hecho algo ilegal (y, de acuerdo con nuestra comunidad, algo guay). <strong>Muchos de los chavales lo hacían simplemente porque podían, unos pocos porque querían cambiar las cosas</strong>. Pero a veces el cambio también viene de afuera, y pienso que conforme fuimos creciendo, <strong>nos fuimos dando cuenta de que teníamos el poder para cambiar y solucionar un montón de problemas de nuestra sociedad</strong>. Si miras la serie de televisión Mr. Robot, el sentimiento del grupo F-Society se aproxima bastante al que yo mismo tuve en un montón de grupos en los que me impliqué a lo largo de mi vida. <strong>Es algo excitante, porque consiste en hacer el bien usando la desobediencia civil, sirviéndote de habilidades impresionantes</strong>. Puedes presumir y parecer muy guay. Mientras algunos tíos corrían con sus motocicletas para impresionar a las chicas, nuestra comunidad hackeaba algún grupo neonazi. Eso sí, sin entender la política nazi más allá de que &#8220;nazi = malo&#8221;. <strong>Pero el sentimiento de estar haciendo el bien o el mal seguía estando allí para la mayoría</strong>. Muy pocos hackers atacarían a alguien que estuviera haciendo algo bueno para la sociedad. La cultura era inclusiva, haz el bien y presume si quieres (¡pero no hacerlo era incluso más impresionante!).</p>
<p>El <strong>cambio en el tratamiento mediático</strong> en lo que se refería a nosotros (como algo distinto a malhechores y frikis), <strong>vino de repente</strong>. Las diferentes comunidades de hackers surgieron con una gran cantidad de gente realmente inteligente, con un gran entendimiento de cómo sería la era digital. Pienso muchas veces lo que habría pasado si la gente de Woodstock se hubiera hecho con el poder &#8211; ¿cómo sería hoy el mundo? <strong>En el mundo hacker, esto había pasado de algún modo. Y muy pocas personas estuvieron preparadas para encarar aquello</strong>.</p>
<p>Como en la mayoría de subculturas, <strong>los nuestros están obsesionados con el estatus interno</strong>. <strong>Tenemos muchos héroes&#8230; y con ellos viene la veneración</strong>. La mayoría de recién llegados los admiran mucho, y la mayoría ellos se sienten como frikis que de repente consiguen sus 15 minutos de fama. Todo el mundo afronta esto de manera distinta; <strong>algunos se aprovechan</strong>. La cultura heroica siempre me ha parecido peligrosa, y ha sido <strong>excesivamente binaria para la mayoría de gente</strong>. Cuando Julian Assange fue acusado de abusos sexuales, fue duro para la mayoría de gente de nuestra comunidad el hecho de separar las acciones privadas de Julian de las de Wikileaks. Siempre he creído que las cosas pueden matizarse. Yo quería (y sigo queriendo) que Julian fuera juzgado por lo que se le ha acusado, pero también creo que Wikileaks ha sido extremadamente importante para nuestra sociedad, y <strong>no desacreditaría el trabajo de Julian por haber hecho aquello</strong>. Lo mismo pasa con Jake; si ha hecho algo malo, debería ser juzgado por ello, <strong>pero eso no dice nada de su trabajo o de Tor en modo alguno</strong>. &#8220;Culpable por asociación&#8221; no es un cargo en absoluto aceptable.</p>
<p>En cualquier discusión existen múltiples bandos. <strong>En una comunidad justa deberíamos escuchar a todo el mundo, encontrar un modo de afrontarlo y prestar atención a todas las partes</strong>. La gente que acusa a alguien debe ser escuchada independientemente de a quien acuse, <strong>sin ser juzgada y ofreciéndole apoyo</strong>. La gente acusada de abuso debe también ser escuchada, sean quienes sean, sin juzgarlos y con una consciencia de cómo aquella persona afronta el hecho de ser acusada (en este caso, da igual si al final resulta ser culpable o no). Y necesitamos entender que estas cosas deberían ser resueltas por profesionales, no por amigos parciales en una situación acalorada.</p>
<p><strong>Pero lo más importante de todo es que debemos crear un ambiente seguro para todo el mundo, incluyendo la gente que es diferente a nosotros mismos</strong>. <strong>Gente que no son hombres, que no son blancos, que no son heterosexuales&#8230; son gente a la que siempre quisimos incluir, pero no lo pudimos hacer hasta que ganamos el interés de la sociedad</strong>. Si queremos que estén con nosotros, que es algo que todos queremos y celebramos por el hecho de tener finalmente una oportunidad para incluirlos, <strong>necesitamos entender la integración; funciona en ambos sentidos</strong>. <strong>No podemos esperar que la gente se integre en nuestro modo de vida sin integrar sus modos de vida a su vez</strong>. La diversidad es lo que hace prosperar a una comunidad, y a lo que necesitamos dedicar nuestro esfuerzo. <strong>Una vez fuimos los outsiders, ahora necesitamos del mismo modo incluir a los nuevos</strong>.</p>
<p><strong>La semana pasada vimos a gente decir que han presenciado los abusos de Jake durante largo tiempo. Nadie supo qué hacer realmente para detenerlos. Esto es un fallo de nuestra comunidad</strong>. <strong>Necesitamos asegurarnos de que tenemos algún modo de tratar estos temas si surgen, en vez de simplemente ignorarlos. Si queremos incluir a gente, tenemos que preocuparnos por ellos de igual forma. Y también implica educar en lo que no son comportamientos apropiados</strong>. Me he topado con unos pocos tíos en la comunidad a lo largo de mi vida a los que las mujeres resultan extrañas, no porque sean malvados, sino porque no tienen pistas de cómo comportarse o cuales son los límites. He visto a gente bastante famosa tocando los culos de otras personas, sin que nadie supiera cómo encarar la situación. Que exista alguien respetado por alguna cosa no significa que experto en todas las facetas de la vida. <strong>Estoy bastante seguro de que yo mismo he hecho sentir incómodo a más de uno en ciertas ocasiones, y que podría haber expresado mi oposición a determinada cosa de mejor forma</strong>. Todos hemos sido jóvenes e inseguros, de modo que es también importante para los más mayores y seguros educar. De otro modo, acabamos en situaciones como en la que nos encontramos ahora. <strong>Como comunidad necesitamos reconocer los problemas que tenemos y las responsabilidades que nos atañen a todos</strong>.</p>
<p>Para la gente acusada, también tenemos que entender que bien pudieran acabar siendo inocentes. Tenemos que entender que podrían acabar siendo culpables &#8211; pero que siguen teniendo derechos, incluso siendo así. A un juicio justo, por ejemplo. Es importante mantener la cabeza fría y no avivar el fuego simplemente porque queramos venganza. Deberíamos usar esa energía para <strong>apoyar a las víctimas y hacer lo que mejor sabe hacer la comunidad hacker: hacer pedazos el viejo código e implementar uno nuevo, con la experiencia que ahora tenemos</strong>. <strong>Construyamos una comunidad versión 2.0 &#8211; ahora, para todo el mundo, entrenados para mejorar las cosas que antes fallaban</strong>.</p>
]]></content:encoded>
			</item>
		<item>
		<title>Entrevista a Mercè Molist</title>
		<link>/2016/05/18/entrevista-a-merce-molist/</link>
		<pubDate>Wed, 18 May 2016 19:04:49 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[General]]></category>

		<guid isPermaLink="false">/?p=348</guid>
		<description><![CDATA[Mercè Molist, reconocida periodista de temas referentes a la red y la cultura hacker, ha contestado a nuestro paquete de preguntas, cuyas respuestas os adjuntamos a continuación. Nos hace especial ilusión poder publicar aquí este artículo, puesto que Mercè cuenta con una larga trayectoria a sus espaldas en la comunidad hacker: nos alegra la idea [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><em>Mercè Molist, reconocida periodista de temas referentes a la red y la cultura hacker, ha contestado a nuestro paquete de preguntas, cuyas respuestas os adjuntamos a continuación. Nos hace especial ilusión poder publicar aquí este artículo, puesto que Mercè cuenta con una larga trayectoria a sus espaldas en la comunidad hacker: nos alegra la idea de poder seguir sobre sus mismos pasos.</em></p>
<p><em>Por otra parte, nuestro ciclo de entrevistas <a href="/index.html@p=125.html">&#8220;Transparencia forzada&#8221;</a> consta ya de cinco publicaciones: <a href="/index.html@p=127.html">Marie Gutbub</a>, <a href="/index.html@p=137.html">Diego Naranjo</a>, <a href="/index.html@p=145.html">Glyn Moody</a>, <a href="/index.html@p=163.html">Sergio Salgado</a> y la misma Mercè Molist. Os animamos (ya que estamos) a leer todas las piezas, puesto que os ayudarán a comprender diferentes puntos de vista y maneras de tratar el mismo fenómeno.</em></p>
<p><img class="size-medium wp-image-352 aligncenter" src="/wp-content/uploads/2016/05/lectures3-300x213.jpg" alt="" width="300" height="213" /></p>
<p><strong>1. Para los lectores que no te conocen, ¿podrías presentarte brevemente?</strong></p>
<p>Me llamo Mercè Molist Ferrer, tengo 46 años y llevo la mitad de mi vida trabajando en periodismo como freelance. He escrito en El País, El Mundo, La Vanguardia, El Confidencial, Avui, La Marea, etc. A mediados de los 90 entré en Internet y pronto me di cuenta de que la red podía ser un sujeto periodístico, que era posible informar sobre aquel mundo como se podía informar sobre otros mundos. Poco a poco, mi curiosidad se centró en la comunidad hacker y, de aquí, a la seguridad informática, siguiendo el mismo camino que ha seguido buena parte de esta comunidad. Siempre desde una vertiente informativa, nunca a nivel técnico.</p>
<p><strong>2. ¿Cuándo empezaste a ser consciente de la importancia de proteger tu privacidad? ¿Hubo algún acontecimiento concreto que determinara tu forma de pensar actual?</strong></p>
<p>A medida que iba aprendiendo y adentrándome más en seguridad informática iba dándome cuenta de que mi vida en la red es transparente. Y así intento actuar desde hace años, desde la transparencia, pues creo que es la mejor defensa. Parece raro, quizás cuántico, que te diga que para defender tu privacidad lo mejor que puedes hacer es ser transparente [risas]. Pero es así, o así lo concibo yo: si eres transparente, ¿a quién le importará o pagará dinero por tu privacidad?</p>
<p><strong>3. ¿Quieres hablarnos de alguno de los proyectos relacionados con la seguridad o la privacidad (ya sean de carácter técnico, social o político) en los cuales estés involucrado actualmente?</strong></p>
<p>Ahora mismo estoy en un proyecto llamado Hackstory, que empezó en 2008. Es una Wiki donde recopilo lo que sé sobre la historia de los sujetos que forman la comunidad hacker española, parte de la latinoamericana y algo de más allá. De este proyecto salió otro, el libro <em>&#8220;Hackstory.es, la historia jamás contada del underground hacker de la Península Ibérica&#8221;</em>. Tanto la Wiki como el libro son libres y gratuitos y podéis acceder a ellos a partir de la <a href="http://hackstory.net">dirección web</a>.</p>
<p><strong>4. ¿Qué prácticas realizas en tu día a día para proteger tu privacidad, tanto en el entorno digital como en la vida real?</strong></p>
<p>Uso PGP cuando quiero privacidad en mi correo electrónico. Y poco más. Muchas prácticas de privacidad hoy en día ya nos vienen por defecto, por ejemplo en las webs seguras o al usar mensajería cifrada. Bueno, y uso sistema operativo GNU/Linux, claro, lo que ya me pone a salvo de bastantes virus o del mirón estándar. Por otra parte, existen herramientas para la seguridad y privacidad que son un engorro y paso de usarlas, aunque otras, como un firewall cuando usaba Windows, me han salvado alguna vez. Ahora bien, lo que a mi siempre me ha funcionado es una saludable paranoia, aliñada con una pizca de sentido común.</p>
<p><strong>5. ¿Qué le dirías al usuario común de Internet, que cree &#8220;no tener nada que ocultar&#8221;, o que piensa que la privacidad es una cuestión que solamente debería preocupar a &#8220;los que hacen cosas malas&#8221;?</strong></p>
<p>Que algún día morderá el polvo, se dará cuenta del valor de su privacidad y cambiará totalmente sus hábitos para no volver a tener esta actitud nunca más. La gran mayoría aprendemos a base de experiencias y hasta que no te sucede algo, no te das cuenta, por mucho que una periodista te diga en un entrevista en una web que, por cierto, me gusta mucho, felicidades!</p>
<p><strong>6. Pensando en usuarios sin formación específicamente técnica, ¿qué herramientas, hábitos o prácticas les recomendarías para mejorar su privacidad?</strong></p>
<p>¡Uf! ¡Esto daría casi para un libro o un curso de formación!</p>
<p><strong>7. ¿Hasta qué punto piensas que la crítica de la vigilancia masiva supone la legitimación involuntaria de formas de vigilancia individualizadas que, no obstante, siguen vulnerando los derechos de las personas afectadas? (Ejemplo: caso #Spycops en Reino Unido)</strong></p>
<p>No entiendo muy bien la pregunta&#8230; De todas formas, la vigilancia masiva e individual están aquí para quedarse porque la tecnología lo permite. Y tendrá sus buenos usos y sus malos usos, porque la tecnología es la herramienta, quien la ciñe es quien le pone la intención. Por desgracia, quienes tienen acceso a lo último en tecnología son quienes tienen el poder económico, usualmente gente sin ética y bastante perdida. Las críticas a la vigilancia estoy segura de que les entran por una oreja y les salen por la otra.</p>
<p><strong>8. A día de hoy, ¿qué instituciones, actores u organismos piensas que suponen una amenaza para la libertad y la privacidad en Internet? ¿A quién corresponde defender estos derechos?</strong></p>
<p>Desde los gobiernos de todo el mundo hasta los millones de personas que han entrado en la red sin ningún tipo de educación o conciencia son un amenaza para la privacidad en la red y su propia privacidad.</p>
<p>Cuando me preguntas quien debe &#8220;defender&#8221; el derecho a la privacidad y la libertad, me da la impresión que debería existir algo así como un guerrero que con su espada defiende a alguien. Esto no es así en la red. La red es un espacio de relaciones de fuerza cuánticas donde no existen jerarquías ni guerreros que se encarguen de nada. Es solo nuestra trabajo interdependiente el que conseguirá resultados. Es esta entrevista, y esta web, y la de más allá y es un esfuerzo al estilo P2P. Todos ponemos en peligro la privacidad y, también, todos la defendemos.</p>
<p><strong>9. ¿Crees que existen diferencias notables entre el activismo político &#8220;tradicional&#8221; y el activismo centrado en la defensa de los derechos en Internet o el &#8220;hacktivismo&#8221;? Lo cierto es que desde Críptica observamos una &#8220;brecha&#8221; (generacional, técnica, de género&#8230;) entre ambas formas de intervención política.</strong></p>
<p>¿A qué te refieres con activismo político tradicional? ¿Existe eso aún?</p>
<p><strong>10. Finalmente, ¿cuáles deberían ser, según tu opinión, los aspectos que como movimiento político (desde el conjunto de las organizaciones defensoras de los &#8220;derechos digitales&#8221;) tendríamos que mejorar?</strong></p>
<p>La verdad es que no tengo ni idea. Yo formé parte en los 90 de un grupo defensor de los ciberderechos, Fronteras Electrónicas de España, y acabamos cerrando porque nos exigía mucha energía y no nos daba nada a cambio. El hacktivismo es duro si no haces como los de Anonymous, que al menos se ríen, o como la Electronic Frontier Foundation, que tienen dinero de patrocinadores y pueden permitirse el lujo de tener uno o dos liberados. Solo así, con dinero o con humor, se consigue la preciada visibilidad para llevar a cabo proyectos interesantes. Pero, ya digo, fallé en mi intento, así que no soy nadie para dar lecciones.</p>
]]></content:encoded>
			</item>
	</channel>
</rss>
