<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Book review &#8211; Criptica</title>
	<atom:link href="/category/book-review/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.criptica.org</link>
	<description></description>
	<lastBuildDate>Thu, 17 May 2018 02:37:01 +0000</lastBuildDate>
	<language>es-ES</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.5.3</generator>
	<item>
		<title>Review de &#8220;El pequeño Libro Rojo del activista en la Red&#8221;</title>
		<link>/2015/04/27/review-de-el-pequeno-libro-rojo-del-activista-en-la-red/</link>
		<pubDate>Mon, 27 Apr 2015 23:36:32 +0000</pubDate>
		<dc:creator><![CDATA[criptica]]></dc:creator>
				<category><![CDATA[Book review]]></category>

		<guid isPermaLink="false">/?p=23</guid>
		<description><![CDATA[Al gener de 2015 es va publicar el llibre “El pequeño libro rojo del activista en la Red” [1], escrit per Marta Periano amb el segell de Roca Editorial. Es tracta d&#8217;un manual introductori de les bones pràctiques i l&#8217;ús d&#8217;eines criptogràfiques per a protegir les comunicacions digitals i garantir la privacitat de l&#8217;usuari. Pretén [&#8230;]]]></description>
				<content:encoded><![CDATA[<p align="justify"><span style="font-family: Adobe Garamond,serif">Al gener de 2015 es va publicar el llibre “El pequeño libro rojo del activista en la Red” [1], escrit per Marta Periano amb el segell de Roca Editorial. Es tracta d&#8217;un manual introductori de les bones pràctiques i l&#8217;ús d&#8217;eines criptogràfiques per a protegir les comunicacions digitals i garantir la privacitat de l&#8217;usuari. Pretén arribar a les redaccions dels diaris, al món activista i a qualsevol persona preocupada per la seva seguretat i privacitat en un entorn digital.</span></p>
<p align="justify"><span style="font-family: Adobe Garamond,serif">El llibre comença amb un pròleg de l&#8217;ex-agent de la NSA Edward Snowden, i continua amb una introducció explicant la importància de fer ús d’eines que protegeixin les dades i comunicacions, posant com a exemple la necessitat dels periodistes de protegir les seves fonts. La introducció acaba amb una crida a l&#8217;ús d&#8217;eines de software lliure i un repàs de l&#8217;estat de l&#8217;espionatge digital actual.</span></p>
<p align="justify"><span style="font-family: Adobe Garamond,serif">El manual toca els següents punts:</span></p>
<ul>
<li><span style="font-family: Adobe Garamond,serif">Consells per a crear contrasenyes segures</span></li>
<li><span style="font-family: Adobe Garamond,serif">Funcionament del correu electrònic i ús del sistema de xifrat PGP (amb Thunderbird + Enigmail)</span></li>
<li><span style="font-family: Adobe Garamond,serif">Navegació segura: SSL, VPN</span></li>
<li><span style="font-family: Adobe Garamond,serif">Tor (navegació anònima i anti-censura) </span></li>
<li><span style="font-family: Adobe Garamond,serif">Eines pel telèfon mòbil: Orbot, Orweb, CSipSimple, K-9 Mail, APG (Android Privacy Guard)</span></li>
<li><span style="font-family: Adobe Garamond,serif">Xifrat de discs: Truecrypt</span></li>
<li><span style="font-family: Adobe Garamond,serif">Neteja de dades</span></li>
<li><span style="font-family: Adobe Garamond,serif">Tails</span></li>
</ul>
<p><span style="font-family: Adobe Garamond,serif">La primera part del llibre aconsegueix fer un resum de l’estat actual del món pel que fa a la vigilància de forma molt correcta, i demana una presa de consciència de cara a la necessitat d&#8217;usar eines criptogràfiques avui i d&#8217;anar en compte amb les nostres dades i comunicacions digitals.</span></p>
<p><span style="font-family: Adobe Garamond,serif">Els temes que es toquen al manual estan explicats de manera molt entenedora. Primer s’introdueix la part tècnica d’una forma molt senzilla i plana per a poder entendre la necessitat de fer servir eines per a cada cas. Seguidament, s’explica com funciona l&#8217;eina en qüestió de forma fàcil i els passos per a usar-la correctament en cadascun dels sistemes operatius més comuns: GNU/Linux, Mac OSX i Windows.</span></p>
<p><span style="font-family: Adobe Garamond,serif">Els capítols que expliquen les eines es poden llegir individualment, ja que en general no requereixen coneixements de les altres parts. De tota manera, el llibre és molt curt i es llegeix en unes poques hores.</span></p>
<p><span style="font-family: Adobe Garamond,serif">Tot i que el llibre resulta a grans trets molt correcte, ens agradaria precisar alguns detalls:</span></p>
<ul>
<li><span style="font-family: Adobe Garamond,serif">Malgrat que cada capítol es pugui llegir individualment, l&#8217;explicació sobre què és SSL/TLS es repeteix en diferents punts, com si el lector desconegués del tot el funcionament d&#8217;aquest protocol. Resulta estrany vist que hi ha un capítol (“Redes públicas”) amb una secció expressament dedicada a explicar el protocol.</span></li>
<li><span style="font-family: Adobe Garamond,serif">Apunt tècnic: A l&#8217;explicació de SSL/TLS, l&#8217;autora fa servir “SSL” i “TLS” indistintament, sense explicar la diferència entre ambdós. Per aclarir-ho: TLS és simplement el successor de SSL. TLS 1.0 va ser l’actualització de protocol que va venir després de SSL 3.0 [2]. El protocol https funciona tan amb SSL com TLS, tot i que cada cop hi ha menys pàgines que funcionin mitjançant SSL ja que conté més vulnerabilitats.</span></li>
<li><span style="font-family: Adobe Garamond,serif">Sobta bastant que el llibre recomani Truecrypt pel xifrat de discs, vist l’estat actual d’aquesta eina [3]: al maig de 2014, els autors de Truecrypt van publicar una nota a la pàgina oficial dient que deixaven de desenvolupar l&#8217;eina i que aquesta podia contenir problemes de seguretat sense solucionar, recomanant als usuaris que migressin les seves dades i n&#8217;usessin una altra. Els motius pels quals els desenvolupadors van prendre aquesta decisió són desconeguts, i no se sap amb seguretat si Truecrypt conté algun backdoor; el que sí que sabem del cert que no hi haurà més actualitzacions. A causa d&#8217;aquest motiu, van aparèixer forks de Truecrypt que proporcionen suport i actualitzacions, i que en el nostre parer són més recomanables d’usar: VeraCrypt [4] i CipherShed [5]. Recentment s’han publicat els resultats d’una auditoria a Truecrypt que va començar abans de l’anunci de la finalització del seu desenvolupament, els quals indiquen que el software sembla estar ben dissenyat criptogràficament i que no s’ha trobat cap indici de backdoor ni defectes de disseny deliberats per a fer l&#8217;eina menys segura [6].</span></li>
</ul>
<p><span style="font-family: Adobe Garamond,serif">[1] – http://www.rocaeditorial.com/es/catalogo/sellos/eldiario-es-12/el-pequeno-libro-rojo-del-activista-en-la-red-1862.htm<br />
[2] – https://en.wikipedia.org/wiki/Transport_Layer_Security#History_and_development<br />
[3] – https://en.wikipedia.org/wiki/TrueCrypt#End_of_life_announcement<br />
[4] – https://veracrypt.codeplex.com/<br />
[5] – https://ciphershed.org/<br />
[6] – http://blog.cryptographyengineering.com/2015/04/truecrypt-report.html</span></p>
]]></content:encoded>
			</item>
	</channel>
</rss>
